<div style="border: none; font-family: Helvetica; margin-top: 60px; background-color: transparent; height: 40px;" class="navbar navbar-default" role="navigation">
    <div  class="container-fluid">
        <div style="background-color: transparent; margin-left: 40px;" class="navbar-header">
            <ul class="nav navbar-nav">
                <li><img src="../sources/indeed-logo.png" width="80%"></li>
                <li><label style="font-family: Helvetica; margin-left: -26px; margin-top: -5px; font-size: 24px; opacity: 0.8; color: rgb(255,255,255);" class="navbar-brand">deed</label></li>
            </ul>
        </div>
        <div style="margin-right: 50px; font-family: Helvetica-Bold;" class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">
                <li><a style="color: #f8f8ff; font-size: 13px; margin-right: 10px;" onmouseover="this.style.color='rgb(247,14,86)'" onmouseout="this.style.color='#f8f8ff'" href="#/addText">ADD TEXT</a></li>
                <li><a style="color: #f8f8ff; font-size: 13px; margin-right: 10px;" onmouseover="this.style.color='rgb(247,14,86)'" onmouseout="this.style.color='#f8f8ff'" href="#/addProduct">ADD PRODUCT</a></li>
                <li><a style="color: #f8f8ff; font-size: 13px; margin-right: 10px;" onmouseover="this.style.color='rgb(247,14,86)'" onmouseout="this.style.color='#f8f8ff'" href="#/listProduct">ALL PRODUCTS</a></li>
                <li><a style="color: #f8f8ff; font-size: 13px; margin-right: 10px;" onmouseover="this.style.color='rgb(247,14,86)'" onmouseout="this.style.color='#f8f8ff'" href="#/login">LOGIN</a></li>
                <li><a style="color: rgb(247,14,86); font-size: 13px; border-style: solid; border-width: 1px; border-radius: 3px;" href="#" onmouseover="this.style.backgroundColor='rgb(247,14,86)'; this.style.color='#f8f8ff'; this.style.borderColor='rgb(247,14,86)'" onmouseout="this.style.color='rgb(247,14,86)';this.style.backgroundColor='transparent' " role="button">SIGN UP FREE</a></li>
            </ul>
        </div>
    </div>
</div>
